.App {
  text-align: center;
}

.clock {
  font-size: 70px;
  color: #fff;
  background: #000;
  padding: 10px;
}

.clock-labels li {
  font-size: 14pt;
  padding-right: 5px;
}

ul {
  list-style-type: none;
  margin-right: 40px;
}

li {
  font-size: 11pt;
  width: 100px;
  display: inline;
  margin: 0 13px;
}

.buttons {
  margin-top: 25px;

}

.buttons button {
  padding: 5px 15px;
  margin: 0 10px;
  cursor: pointer;
  font-size: 16pt;
}

.start-button {
  background-color: green;
  color: #fff;
  font-weight: bold;
}

.stop-button {
  background-color: red;
  color: #fff;
  font-weight: bold;
}

.reset-button {
  font-weight: bold;
}

.lap-button {
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}

.lap-button button {
  width: 300px;
  font-weight: bold;
  background-color: #6F8BA9;
  color: #fff;
  font-size: 16pt;
  cursor: pointer;
}

.display {
  display: block;
}

.hide {
  display: none;
}

button:disabled {
  color: #ccc;
  background-color: #eee;
  cursor: default;
}

.lap-table {
  margin-left: auto;
  margin-right: auto;
  width: 220px;
}

.lap-table th {
  text-align: left;
  background-color: #154981;
  color: #fff;
  padding: 5px;
}

.lap-table td {
  text-align: left;
  background-color: #63c2d6;
  padding: 5px;
}

.reset-table {
  width: 218px;
  margin-left: auto;
  margin-right: auto;
}

.reset-table-button {
  width: 218px;
  font-weight: bold;
  background-color: #6F8BA9;
  color: #fff;
  font-size: 10pt;
  padding: 5px;
  float: right;
  cursor: pointer;
}
